# .env.example
# Ganti dengan 10.2.2.2:3000 jika menggunakan emulator Android
# Ganti dengan Ip address komputer Anda jika menggunakan perangkat fisik dengan connect ke jaringan yang sama dan pastikan port 3000 dibuka
# mengetahui ip address komputer Anda bisa dengan cara mengetik "ipconfig" di Command Prompt (Windows) atau "ifconfig" di terminal (Mac/Linux)
BASE_URL=http://localhost:3000